/* General */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font: normal normal normal 14px/1.428571429 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
}

#footer .container {
	min-height: inherit;
	max-height: inherit;
}

.container {
    margin: 0 auto;
	min-height: 720px;
	max-height: 720px;
    position: relative;
    width: 960px;
}

    .container:before, .container:after {
        content: "";
        display: table;
    }

    .container:after {
        clear: both;
    }

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* Header */
#header {
    height: 90px;
}

.btn-lang {
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 25px;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 60px;
    white-space: nowrap;
    width: 25px;
}

    .btn-lang.vn {
        background-image: url(../img/vn.png);
        left: 790px;
    }

    .btn-lang.cn {
        background-image: url(../img/cn.png);
        left: 825px;
    }

#nav {
    background-color: #ff9900;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 20px 0 0 20px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
}

.logo-wrap {
    height: 38px;
    margin: 20px 0 0 50px;
    padding: 0;
    width: 155px;
}

.logo {
    display: block;
    max-width: 100%;
    width: 100%;
}

.navbar, .navbar > li {
    display: inline-block;
    position: relative;
}

    .navbar .nav-item {
        color: #fff;
        font-weight: bold;
        padding-right: 50px;
        text-transform: uppercase;
    }

    .navbar li:hover .nav-item, .navbar li:hover .nav-item, .navbar li.active .nav-item, .navbar li:active .nav-item {
        color: #f9e13a;
    }

    .navbar li:hover .dropdown-menu, .navbar li:focus .dropdown-menu, .navbar li:active .dropdown-menu {
        display: block;
        top: 34px;
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-clip: padding-box;
}

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333333;
        white-space: nowrap;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }

    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: #ffffff;
        text-decoration: none;
        background-color: #428bca;
        outline: 0;
    }

    .dropdown-menu > .disabled > a,
    .dropdown-menu > .disabled > a:hover,
    .dropdown-menu > .disabled > a:focus {
        color: #999999;
    }

#nav .phone {
    color: #fff;
    display: inline-block;
    padding-left: 30px;
    position: relative;
}

    #nav .phone:before {
        background: url(../img/icons.png) no-repeat 0 0;
        content: "";
        height: 15px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 25px;
    }

/* Main */
#main {
    background: url(../img/main-border.jpg) repeat-x 0 0 padding-box, url(../img/main-border.jpg) repeat-x 0 100% padding-box, url(../img/product-bg.png) no-repeat 0 0;
    -ms-background-size: auto auto, auto auto, 100% 100%;
    -moz-background-size: auto auto, auto auto, 100% 100%;
    -o-background-size: auto auto, auto auto, 100% 100%;
    -webkit-background-size: auto auto, auto auto, 100% 100%;
    background-size: auto auto, auto auto, 100% 100%;
    color: #553014;
    padding: 3px 0;
}

.carousel, .carousel-inner {
    height: 720px;
    position: relative;
}

.carousel-inner {
    overflow: hidden;
    width: 100%;
}

    .carousel-inner > .item {
        display: none;
        position: relative;
        -moz-transition: left 0.6s ease-in-out 0s;
        -ms-transition: left 0.6s ease-in-out 0s;
        -o-transition: left 0.6s ease-in-out 0s;
        -webkit-transition: left 0.6s ease-in-out 0s;
        transition: left 0.6s ease-in-out 0s;
    }

        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            display: block;
            height: auto;
            line-height: 1;
            max-width: 100%;
        }

    .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
        display: block;
    }

    .carousel-inner > .active {
        left: 0;
    }

    .carousel-inner > .next, .carousel-inner > .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .carousel-inner > .next {
        left: 100%;
    }

    .carousel-inner > .prev {
        left: -100%;
    }

        .carousel-inner > .next.left, .carousel-inner > .prev.right {
            left: 0;
        }

    .carousel-inner > .active.left {
        left: -100%;
    }

    .carousel-inner > .active.right {
        left: 100%;
    }

.carousel-indicators {
    bottom: 45px;
    right: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    z-index: 2;
}

    .carousel-indicators li, .carousel-indicators li.active {
        background-color: #f8d905;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        display: inline-block;
        height: 16px;
        margin: 0 20px 0 0;
        width: 16px;
    }

        .carousel-indicators li.active {
            background-color: #ff9900;
        }

/* Footer */
#footer {
    background-color: #ff9900;
    color: #512f13;
    padding: 10px 10px 30px 10px;
}

    #footer .footer-img {
        border: 1px solid #000;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        display: block;
        margin: 0 15px 0 30px;
        max-width: 100%;
    }

    #footer address {
        font-style: normal;
    }

    #footer .address-title {
        font-size: 1.75em;
        font-weight: bold;
    }

    #footer p {
        margin: 0 0 5px 0;
    }

/* Product */

.product {
    overflow: hidden;
    padding: 25px 35px 40px 35px;
}

    .product .intro {
        margin-right: 15px;
        width: 315px;
    }

        .product .intro p {
            font-size: 0.8em;
            text-align: justify;
        }

    .product .pro-content {
        margin-top: 145px;
        width: 535px;
    }

.pro-content .pro-cate-title {
    font-size: 1.35em;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.product .pro-content .pro-list {
    display: block;
}

    .product .pro-content .pro-list li {
        background-color: #fff;
        border: 1px solid #a9916f;
        display: inline-block;
        margin: 0 20px 15px 0;
        min-height: 133px;
        padding: 5px;
        position: relative;
        width: 143px;
    }

        .product .pro-content .pro-list li:last-child {
            margin-right: 0;
        }

.product .pro-content .pro-name {
    font-size: 0.95em;
    height: 36px;
    margin: 5px 0;
    padding: 0 5px;
    text-transform: capitalize;
}

.product .pro-content .pro-link {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.product .pro-content .pro-img {
    display: block;
    max-height: 100px;
    max-width: 100%;
    margin: 0 auto;
}

.product .pro-content .pro-info {
    font-size: 0.85em;
    margin: 0 0 5px 0;
    padding: 0 5px;
}

.pro-weight {
}

    .pro-weight:before {
        content: "Khối lượng: ";
        font-weight: normal;
    }

    .pro-weight.gam:after {
        content: " G";
        font-weight: normal;
    }

.pro-price {
    color: red;
}

    .pro-price:before {
        color: #553014;
        content: "Giá: ";
        font-weight: normal;
    }

.vnd:after {
    content: " VNĐ";
    font-weight: normal;
}

/* Product Detail */

.product-detail {
    padding: 25px 25px 40px 25px;
}

    .product-detail .pro-detail-img-container {
        margin-right: 20px;
        width: 500px;
    }

    .product-detail .pro-detail-img {
        display: block;
        max-width: 100%;
    }

    .product-detail .pro-detail-info {
        margin: 10px 0;
        text-align: justify;
    }

    .product-detail .pro-detail-desc {
        width: 360px;
    }

    .product-detail .pro-detail-name {
        margin: 30px 0;
    }

    .product-detail .pro-price:before, .product-detail .pro-weight:before {
        display: inline-block;
        font-weight: bold;
        width: 95px;
    }

    .product-detail .pro-price:after, .product-detail .pro-weight:after {
        font-weight: bold;
    }

    .product-detail .pro-price, .product-detail .pro-weight {
        color: #553014;
        font-weight: bold;
    }

/* Pagination */

.pagination-holder {
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
            color: #553014;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            background-color: #eee;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #428bca;
        border-color: #428bca;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #999;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #dddddd;
    }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
